<h2>All Orders for User</h2>

<% if @orders.any? %>
  <% @orders.each do |order| %>
    <ul>
      <li>
        <p><%= link_to "ORDER num. #{order.id}", order_path(order)%></p>
        <% if order.total_cost %>
        <%= "$#{order.total_cost}" %>
        <% end %>
      </li>
    </ul>
  <% end %> 
<% else %>   
  <p> There are no Orders for this user. </p>  
<% end %>