<h2>Orders#new</h2>

<p>This will be the page where a user will create their order. Accessed by User</p>

<p>This view will have forms with all of the items. Items can be modified and added to cart</p>

<p>We can use Order.new and Order.save, as well as, Item.new and Item.save as benchmarks to add items to an orders cart before its "confirmed"</p>