<h2>Items#menu</h2>

<p>If Visitor: This page will be our full menu page displaying all item types and describing options. **non-funtional**</p>

<p>If User: Items will have buttons like "ADD BURGER" that will lead to the items#new page. If a user has not started an order, thet will be redirected to the order#new page.</p> 