<h2>Items#menu</h2>

<p>If Visitor: This page will be our full menu page displaying all item types and describing options. **non-funtional**</p>

<p>If User: Items will have buttons like "ADD BURGER" that will lead to the items#new page. If a user has not started an order, thet will be redirected to the order#new page.</p> 

<h2>Burgers</h2>
<p>Info about our Burgers</p>

<h2>Pizzas</h2>
<p>Info about our Pizzas</p>


<h2>Salads</h2>
<p>Info about our Salads</p>


<h2>Apps/Sides</h2>
<p>Info about our Apps/Sides</p>


<h2>Drinks</h2>
<p>Info about our Drinks</p>
