<h2>items#new</h2>
<p>This page will be where the user will modify their item bfore adding it to the order.</p>
<p>For example, If the user clicks on the "ADD BURGER" button in the menu, it takes them to this page with all of the BURGER options availible</p>