@import "bootstrap-sprockets";
@import "bootstrap";

:root {
  margin: 40px;
}

//TITLE


//attempt 2
// Change the colors
$color1: rgb(255, 0, 187);
$color2: orange;
$color3: yellow;

.text-effect {
  overflow: hidden;
  position: relative;
  
  // The blend modes mute the colors, so let's bump them up
  filter: contrast(110%) brightness(190%);
}

.neon {
  position: relative;
  
  // Only works on a black background, sorry
  background: black;
  
  // The actual text inside the div is superfluous, only data-text matters. The text is added so you can easily edit the preview
  color: transparent;
  
  &::before,
  &::after {
    // Add two copies of the text on their own layer
    content: attr(data-text);
    
    // White, so we can paint them later
    color: white;
    
    // And blur them to create the neon effect with the blend-mode below
    filter: blur(0.01em);
    
    position: absolute;
    top: 0; left: 0;
    pointer-events: none;
  }
  
  // Set the top copy to difference. This creates the knock-out effect with a bit of glow
  &::after {
    mix-blend-mode: difference;
  }
}

// Position our two effect layers
.gradient,
.spotlight {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  pointer-events: pointer;
  z-index: 10;  
}

// Add the colors
.gradient {
  background: linear-gradient(45deg, $color1, $color2, $color3, $color1);
  
  // Multiply mode will paint only the white text
  mix-blend-mode: multiply;
}

.spotlight {
  animation: light 5s infinite linear;
  
  // These are the lights, color-dodge needs a black bg for optimum effect
  background: 
    radial-gradient(circle, white, transparent 25%) 0 0 / 25% 25%, 
    radial-gradient(circle, white, black 25%) 50% 50% / 12.5% 12.5%;
  top: -100%; left: -100%;
  
  // Color dodge gives the lights that shimmer effect
  mix-blend-mode: color-dodge;
}

@keyframes light {
  1% {
    transform: translate3d(50%, 50%, 0);
  }
}

// Style text
.neon {
  font: 700 125px Brush Script MT, Brush Script Std, cursive;
  text-transform: downcase;
  text-align: center;
  margin: 0;
  
  &:focus { outline: none; border: 1px dotted white; }
}

// Center everything
body {
  background: black;
  display: flex;
  // min-height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
}

//end attempt 2

.whiteText {
  color: white;
}

.blackText {
  color: black;
}

//NAV BAR
nav {
  // float: center;
  text-align: center;
}

nav ul {
  // margin: 0;
  // padding: 0;
  display: inline-block;
}

.navbar-default {
  background-color: black;
  border-color: black;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

nav li {
  display: inline-block;
  // align-content: center;
  // overflow: hidden;
  // text-align: center;
  // margin: 0 auto;
}

.btn {
  border-radius: 10px;
  background: rgb(255, 1, 166);
  border: none;
  color: yellow;
  text-align: center;
  font-size: 18px;
  padding: 0px;
  width: 165px;
  transition: all 0.2s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 3px 3px limegreen;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}




//Social links
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.icon-bar {
  position: fixed;
  bottom: 0.01%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  position: left;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  border-radius: 25%;
}

.icon-bar a:hover {
  background-color: rgb(255, 1, 166);
}

.instagram {
  background: #125688;
  color: white;
}




//image gallery
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 200px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
}


//base element styling
hr {
  border-top: 5px dotted white;
  width: 50%
  // margin: 0 auto;
}


scrolling menu
body, html {
  height: 100%;
  margin: 0;
  color: rgb(119, 119, 119);
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("https://images.pexels.com/photos/7884129/pexels-photo-7884129.jpeg?auto=compress&cs=tinysrgb&w=1600");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("https://images.pexels.com/photos/1025804/pexels-photo-1025804.jpeg?auto=compress&cs=tinysrgb&w=1600");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("https://images.pexels.com/photos/1082343/pexels-photo-1082343.jpeg?auto=compress&cs=tinysrgb&w=1600");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("https://images.pexels.com/photos/750070/pexels-photo-750070.jpeg?auto=compress&cs=tinysrgb&w=1600");
  min-height: 400px;
}

.bgimg-5 {
  background-image: url("https://images.pexels.com/photos/5639378/pexels-photo-5639378.jpeg?auto=compress&cs=tinysrgb&w=1600");
  min-height: 400px;
}

.bgimg-6 {
  background-image: url("https://images.pexels.com/photos/110472/pexels-photo-110472.jpeg?auto=compress&cs=tinysrgb&w=1600");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: rgb(3, 240, 253);
  color: rgb(223, 30, 217);
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}



.style_image {
  height: 200px;
  width: 200px;
}